@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: unset !important;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 500px;
  padding: 20px;
}

@media (max-width: 670px) {
  #login {
    left: 0px;
    transform: translateY(-50%);
    width: calc(100vw - 50px);
    box-sizing: border-box;
  }
}

h1,
h2 {
  position: relative;
  text-align: center;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-top: 5px;
}

#login label,
#login input {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

#login label {
  text-align: left;
}

#login h2 {
  color: #007bff;
}

#login input {
  outline: none;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid gray;
}

#login input:focus {
  border: 2px solid #007bff;
}

#login input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  color: white;
  background: #007bff;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.grecaptcha-badge {
  left: 0px !important;
  bottom: -60px !important;
}

#content {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #3181d2;
  color: white;
}

.navbar span {
  display: block;
  user-select: none;
}

.navbar svg {
  margin-left: 10px;
  margin-right: 10px;
}

/* font awesome logout icon */
.navbar svg:hover {
  color: gray;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar span a:visited {
  color: inherit;
}

.navbar #logo {
  margin-right: auto;
  background: #0f56a6;
}

.navbar #logo:hover {
  background: #00fff2;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
  width: 50px;
  height: 100%;
}

.side-item {
  height: 50px;
  width: 100%;
  box-sizing: border-box !important;
}

.side-item svg {
  position: relative;
  top: -25px;
  margin-left: 12px;
  color: white;
}

.side-item .tooltip {
  position: relative;
  display: inline-block;
  visibility: hidden;
  top: 5px;
  left: 55px;
  background: black;
  color: white;
  padding: 10px 0px 10px 5px;
  width: 120px;
  text-align: left;
  z-index: 1;
}

.side-item.active,
.side-item:hover {
  cursor: pointer;
  background: gray;
  border-left: 3px solid lightblue;
  box-sizing: border-box;
}

.side-item:hover .tooltip {
  visibility: visible;
}

.side-item a {
  display: block;
  color: white;
  text-align: center;
}

#container {
  position: absolute;
  top: 0px;
  left: 50px;
  width: calc(100% - 50px);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow-x: hidden;
}

.table-wrapper {
  height: 500px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  flex-grow: 1;
}

.profile-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
  overflow-y: auto;
}

table td {
  text-align: left;
}

table td a {
  position: relative;
  top: -5px;
}

table td li {
  list-style-type: none;
}

table a {
  text-decoration: none;
  color: inherit;
}

table a:hover {
  background: black;
  color: white;
}

table td,
table th,
#content form table td,
form table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th,
#content form table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.list {
  box-sizing: border-box;
  border: 1px solid #d9dddd;
  left: 0px;
  max-height: 500px;
  margin-top: 10px;
}

.no-height {
  height: unset !important;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: large;
  border: 1px solid black;
  box-sizing: border-box;
  width: unset !important;
  min-width: 100vw;
}

.header {
  background-color: black;
  color: white;
  width: unset !important;
  min-width: 100vw;
}

.list-item li {
  margin-left: 10px;
  width: 130px;
  flex-grow: 1;
  text-align: left;
  list-style-type: none;
}

.list-item li div {
  position: relative;
  width: 130px; /* same as li field */
}

.loser {
  position: relative;
  right: 50px;
}

.list-item li div span {
  white-space: nowrap;
}

.list-item-player {
  position: relative;
  right: 50px;
}

li.list-item-player {
  width: calc(130px - 50px);
}

.list-item-player a,
.list-item a {
  color: inherit;
  text-decoration: none;
}

.list-item-player a:hover,
.list-item a:hover {
  background: black;
  color: white;
}

#checkbox-container {
  text-align: center;
}

#select-container label,
#checkbox-container label {
  font-size: 20px;
  font-weight: bold;
}

#checkbox-container label,
#checkbox-container input {
  vertical-align: middle;
}

#checkbox-container input {
  margin-right: 15px;
}

.default-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.default-form input:not(input[type="checkbox"]) {
  display: block;
}

.default-form input[type="file"],
.default-form select {
  margin: 10px;
}

.default-form input[type="submit"] {
  margin-top: 10px;
}

/*.default-form span {
  margin: 10px;
}*/

#profile_picture_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

#circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #bbb;
  background-size: cover;
  border-radius: 50%;
}

#profile_picture_container:hover #edit_profile_picture,
#profile_picture_container:hover #remove_profile_picture {
  display: inline-block;
}

#edit_profile_picture,
#remove_profile_picture {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  margin-right: 10px;
  background: gray;
  color: white;
  cursor: pointer;
}

#modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
}

#modal {
  background: white;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 130px;
  text-align: center;
  z-index: 2;
}

#modal svg {
  margin-right: auto;
  margin-left: 5px;
  cursor: pointer;
}

#modal span {
  position: relative;
  top: 25px;
}

#modal button {
  display: inline-block;
  position: relative;
  top: 30px;
  margin-left: 10px;
}

body:has(#modal) {
  overflow: hidden;
}
